
/*Review Cards*/

#courses, #challenges, #library{
    min-height: 410px;
}

.course-container{
    min-height: 410px;
}

.course-container .card{
    height: 350px;
}

.productss .custom-card {
    width: 400px;
    margin-bottom: 3px;
  }

 .productss .custom-card img {
    object-fit: cover; /* Make the image fill the fixed-size box */
    height: 150px; /* Set the fixed height of the image box */
  }

  .productss .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Limit to 3 lines */
  }

  .productss .card-title {
    height: 50px; /* Set a fixed height for the title space */
    line-height: 25px; /* Adjust line height for centering */
    overflow: hidden;
  }

/* Product Cards */
.ecommerce, .appointments, .resources{
    background-color: #f6e7f7;
    margin: 15px;
}
.product-card {
    transition: transform 0.3s;
    position: relative;
}

.product-card:hover {
    transform: scale(1.1); /* Grow bigger on hover */
    z-index: 1;
    cursor: pointer;
    border-color: rgb(93, 17, 138);
    color: #f6e7f7;
}

.product-card:not(:hover) {
    transition: transform 0.01s ease-in-out; /* Reset transition on mouse out */
}

.product-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #bf8ed3, #e74c3c); /* Gradient border */
    z-index: -1;
}

.product-card:hover .btn-product:hover{
    color: white;
}

/* product buttons */
.btn-product{
    background: linear-gradient(to right, #9b59b6, #e74c3c); /* Gradient border */
    border: blue;
}

.btn-product:hover{
    background: #3b203d;
    color:  linear-gradient(to right, #9b59b6, #e74c3c);
}

/* Tagline */
.tagline, .headings{
    font-family: 'Pacifico', cursive;
}

/* navbar styles */

nav{
    height: 70px;
    z-index: 10001;
    background-color: #fff;
}

.navbar-brand {
    color: rgb(247, 20, 228);;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Preahvihear', sans-serif;
}

.navbar-brand:hover{
    color:rgb(93, 17, 138);
}

.nav-item a:hover{
    color: rgb(247, 20, 228);
}

.navbar-nav .nav-link {
    color: #9b59b6;
}

.nav-item{
    margin-right: 5px;
    font-family: 'Preahvihear', sans-serif;
}

.navbar-nav .nav-item .nav-link.active {
    color: rgb(247, 20, 228);
}

/* Button styles */
.btn:focus, .btn:active{
    border-color: #ff00ff !important; /* Change to your desired border color */
    outline: 0; /* Remove the default outline */
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.25); /* Optional: Add a box shadow */
}

.btn-explore {
    background: linear-gradient(to right, #9b59b6, #e74c3c); /* Gradient background */
    color: #fff;
    border: 2px solid transparent; /* Transparent solid border */
    background-clip: padding-box; /* Clip the background to the padding box */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.btn-explore:hover {
    transform: scale(1.15); /* Scale the button on hover (you can adjust the scale factor) */
    border: #e74c3c;
}

/* Sign In */
.btn-sign-in{
    background: linear-gradient(to right, #9b59b6, #e74c3c); /* Gradient background */
    border: #3b203d;
}
.btn-sign-in:hover{
    cursor: pointer;
    background: #3b203d;
    color: #f6e7f7;
}

/* products.html */

/* learn more button */
.learn-more-btn{
    border: 0;
    background-color: #fff;
}

/* horizontal scrollbar */
.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

/* over all page setting */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  footer {
    background-color: #f8f9fa; /* Adjust the background color as needed */
    padding: 10px;
  }


  /* get help */

.get-help{
    color: white; 
    background: linear-gradient(to right, #9b59b6, #e74c3c);
    border-color: rgb(136, 119, 146);
    border-radius: 20px;
}

.btn:focus{
    box-shadow: none;
    color: white;
    border-color: none;
    
}

.get-help:hover{
    color: black;
    border-color: #f8f9fa;
}

/* pop up get help box */
/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 600px;
    position: relative;
    text-align: center;
    background-color: #f8f9fa;
    font-weight: bolder;
    color: rgb(45, 33, 51);
  }

  .modal-content a{
    color: #9b59b6;
  }
  